@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato:wght@300&family=Quintessential&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 80%;
    
    margin: auto;
}

h1 {
    margin: 30px 0 3px;
    font-family: 'Lato', sans-serif;
   

}
p{
    margin: 15px 0;
    font-size: 17px;
}
.container-1{
    margin: 0%;
}
.btn{
    margin: 20px 0 2px;

}
.btn{
    display: flex;
    justify-content: space-between;
   
    
}


.btn button{
    width: 92px;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: #04AA6D;
    margin: 15px 0;
    color: white;
    font-weight: bold;
}
.btn-1{
    width: 227px;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color:#04AA6D;
    color: white;
    margin: 15px 0;
}
    .paragraph{
        width: 100%;
        background-color: rgb(205, 240, 219);
        margin: auto;
        padding: 15px;
    }
button{
    width:156px;
    border-radius: 7px;
    border: none;
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    margin: 15px 0;
    font-weight: bold;
}